<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>О нас</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <h1>О нас</h1>
    <div th:each="el : ${post}">
        <p th:text="${el.full_text}"/>
<!--        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>-->
<!--        <a th:href="'/blog/' + ${el.id} + '/remove'" class="btn btn-warning">Удалить</a>-->
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>