<div th:fragment="footer">
  <div class="navbar-fixed-bottom row-fluid">
    <div class="navbar-inner">
      <div class="container">
        <div class="py-3 mb-3 border-bottom">
          <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;"></div>
        </div>
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Back to top</a>
          </p>
          <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
          <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>